<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>
</head>
<body>
<p>This website is under maintenance and will be back soon</p>
{{>footer}}
</body>
</html>